html, body, #editor {
    margin: 0;
    height: 100%;
    color: #333;
}

textarea, #editor div {
    display: inline-block;
    height: 100%;
    width: 49%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 20px;
}

textarea {
    border: none;
    border-right: 1px solid #ccc;
    resize: none;
    outline:none;
    padding: 20px;
    font-size: 14px;
    background-color: #f6f6f6;
}