<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grid Component</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <input type="text" name="query" v-model="searchQuery">
        <grid-table
            :data="gridData"
            :columns="gridColumns"
            :filter-key="searchQuery">
        </grid-table>
    </div>

    <script type="text/x-template" id="grid-template">
        <table>
            <thead>
            <tr>
                <th v-for="key in columns"
                    @click="sortBy(key)"
                    :class="{ active: sortKey == key }">
                    {{ key | capitalize }}
                    <span class="arrow"
                          :class="sortOrders[key] == 1 ? 'asc' : 'dsc'">
                    </span>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="entry in filteredData">
                <td v-for="key in columns">
                    {{ entry[key] }}
                </td>
            </tr>
            </tbody>
        </table>
    </script>
    <script src="//cdn.bootcss.com/vue/2.0.3/vue.min.js"></script>
    <script src="app.js"></script>
</body>
</html>